.h1{
    font-size: 50px;
    font-family: cursive;
    color: black;
    text-align: center;
}
li{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFC196;
}
h1{
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
}
p{
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFC196;
}
.li{
    color: #ffffffc4;
    font-size: 30px;
}
.li1{
    color: black;
    font-size: 30px;
}
a{
    font-size: 45px;
    padding: 7px;
    text-decoration: none;
    color: lightblue;
    font-family: cursive;
}