body{
    margin: 0;
    border: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 35px;
}
h1{
    font-size:70px;
}
li{
    color: white;
    display: inline-block;
    margin:1em;
    font-size: x-large;
    padding:25px;
    border-radius: 20px;
}
li:hover{
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: 25px;
}
a:hover{
    color: blue;
}
